SPRING_ENV=dev
SPRING_APP_NAME=VetManager
SPRING_LOG_LEVEL=INFO

SPRING_JWT_SECRET=secret-key
SPRING_JWT_PUBLIC=/appointments/v3/api-docs,/pets/v3/api-docs,/vets/v3/api-docs,/v3/api-docs/**,/swagger-ui/**
SPRING_JWT_ISSUER=login-service
SPRING_EUREKA_URL=http://localhost:8123/eureka/

HOST_PORT=8082

DOCKER_DOMAIN_NETWORK=fullstack_network

SERVICE_APPOINTMENTS_BASE_URL=http://localhost:8007
SERVICE_PETS_BASE_URL=http://localhost:8006
SERVICE_VETS_BASE_URL=http://localhost:8008
