SPRING_ENV=dev
SPRING_APP_NAME=VetManager
SPRING_LOG_LEVEL=WARN

SPRING_JWT_SECRET=secret-key
SPRING_JWT_PUBLIC=/**,/v3/api-docs/**,/swagger-ui/**
SPRING_JWT_ISSUER=login-service

HOST_PORT=8082

DOCKER_DOMAIN_NETWORK=fullstack_network

SERVICE_APPOINTMENTS_BASE_URL=http://localhost:8101
SERVICE_PETS_BASE_URL=http://localhost:8102
SERVICE_VETS_BASE_URL=http://localhost:8103
