<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<springProperty scope="context" name="SPRING_APP_NAME"
		source="spring.application.name" defaultValue="app" />
	<springProperty scope="context" name="SPRING_LOG_LEVEL"
		source="spring.log.level" defaultValue="INFO" />

	<appender name="CONSOLE"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>[%highlight(%level)] --- %green(%logger{36}) @ %cyan(${SPRING_APP_NAME}) ---%n%yellow(%d{yyyy-MM-dd HH:mm:ss}) %msg%n</pattern>
		</encoder>
	</appender>
	<appender name="JSON"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>logs/app.json</file>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>
				logs/app-%d{yyyy-MM-dd}.json
			</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder class="net.logstash.logback.encoder.LogstashEncoder" />
	</appender>
	<root level="${SPRING_LOG_LEVEL}">
		<appender-ref ref="CONSOLE" />
		<appender-ref ref="JSON" />
	</root>
</configuration>
